{% extends 'base.html' %}

{% block content %}

{% load static %}

<!-- Navbar Containter-->
<div class="py-3 bg-primary">
    <div class="containter">
        <a class="text-white" href = "{% url 'collections' %}">Home</a>
        <a class="text-white">/</a>
        <a class="text-white" href = "{% url 'cart' %}">Cart</a>
    </div>
</div>


<!--Content Container-->
<div class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card-shadow">
                    <div class="card-body cart_data">
                        {% if cart %}
                            {% for item in cart %}
                            <div class="row product_data">
                                <div class="col-md-2 my-auto">
                                    <img src="{{ item.product.product_image.url }}" height="70px" width='70px'alt="image here">
                                </div>
                                <div class="col-md-3 my-auto">
                                    <h6> {{ item.product.name }}</h6>
                                </div>
                                <div class="col-md-2 my-auto">
                                    <h6>USD {{ item.product.selling_price | stringformat:'d'}}</h6>
                                </div>
                                <div class="col-md-3 my-auto">
                                    {% csrf_token %}
                                    <input type="hidden" class="prod_id" value="{{ item.product_id }}" >
                                    {% if item.product.quantity >= item.product_qty %}
                                        <label for="Quantity">Quantity</label>
                                        <div class="input-group text-center mb-3" style="width:130px;">
                                            <button class="input-group-text change-quantity decrement-btn">-</button>
                                            <input type="text" name="quantity" class="form-control qty-input text-center" value="{{ item.product_qty }}">
                                            <button class="input-group-text change-quantity increment-btn">+</button>
                                        </div>
                                    {% else %}
                                        <h6>Out of Stock!</h6>
                                    {% endif %}
                                </div>
                                <div class="col-md-2 my-auto">
                                    <button class="btn btn-danger delete-cart-item"> <i class="fa fa-trash"></i>Remove</button>
                                </div>
                            </div>
                            {% endfor %}
                            <a href="{% url 'checkout' %}" class="btn btn-outline-success">Checkout</a>
                        {% else %}
                            <h4>Your Cart is Empty.</h4>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- I don't know why this particular piece of code does not work in the custom.js file but works here fine.-->
<script>
    $(document).ready(function () {
        $(document).on('click', '.change-quantity', function(e) {
            e.preventDefault();
        
            var product_id = $(this).closest('.product_data').find('.prod_id').val();
            var product_qty = $(this).closest('.product_data').find('.qty-input').val();
            var token = $('input[name="csrfmiddlewaretoken"]').val();
            
            $.ajax({
                method: "POST",
                url: 'http://localhost:8000/update-cart/',  // Full URL
                data: {
                    'product_id' : product_id,
                    'product_qty' : product_qty,
                    csrfmiddlewaretoken : token,
                },
                success: function (response){
                    console.log(response)
                    alertify.success(response.status)
                }
            });
        });

        $(document).on('click', '.delete-cart-item', function(e) {
            e.preventDefault();

            var product_id = $(this).closest('.product_data').find('.prod_id').val();
            var token = $('input[name=csrfmiddlewaretoken]').val();

            $.ajax({
                method: "POST",
                url: 'http://localhost:8000/remove-cart-item/',  // Full URL
                data: {
                    'product_id' : product_id,
                    csrfmiddlewaretoken : token,
                },
                success: function (response){
                    console.log(response)
                    alertify.success(response.status)
                    $('.cart_data').load(location.href + " .cart_data");
                }
            });
        });
        
    });
    
</script>
{% endblock content %}