{% extends 'base.html' %}

{% block content %}

{% load static %}

<style>
    .py-3 {
        background-color: #FFB6C1;
    }

    .py-3 a {
        color: white;
        text-decoration: none;
        margin: 0 5px;
        font-weight: bold;
    }

    .py-3 a:hover {
        text-decoration: none;
    }

    .container {
        margin-top: 0px;
    }

    .checkout-details,
    .checkout-details1 {
        box-shadow: 0 0 20px rgb(252, 211, 217);
        border-radius: 10px;
        border: 0px solid #D9ACF5;
        margin-bottom: 40px;
        transition: box-shadow 0.3s ease;
        row-gap: 10px;
    }

    .checkout-form {
        padding: 10px;
    }

    .checkout-form h6 {
        font-weight: bold;
        font-size: 20px;
        color: #2b2728;
    }

    .checkout-form hr {
        border-color: #FFB6C1;
    }

    .checkout-form label {
        color: #2b2728;
        font-weight: bold;
    }

    .checkout-form input,
    .checkout-form textarea {
        border: 0px solid #FFB6C1;
        border-radius: 5px;
        margin-bottom: 10px;
        background-color: #ffedf0;
    }

    .checkout-form textarea {
        height: 40px;
        border: #FFB6C1;
    }
    .checkout-form textarea:active{
        border: #FFB6C1
    }
    .checkout-form button {
        background-color: #bcff9e;
        color: white;
        font-weight: bold;
        transition: background-color 0.3s ease;
    }

    .checkout-form button:hover {
        background-color: #86b371;
        text-decoration: none;
    }

    .order-summary h6 {
        font-weight: bold;
        font-size: 20px;
        color: #2b2728;
    }

    .order-summary hr {
        border-color: #FFB6C1;
    }

    .order-summary table {
        margin-top: 10px;
    }

    .order-summary th,
    .order-summary td {
        color: #776B5D;
        font-weight: bold;
    }

    .order-summary img {
        margin-right: 10px;
    }

    .order-summary .float-end {
        font-weight: bold;
        font-size: larger;
    }
</style>

<!-- Navbar Containter-->
<div class="py-3 bg-primary">
    <div class="containter">
        <a class="text-white" href = "{% url 'collections' %}">Home</a>
        <a class="text-white">/</a>
        <a class="text-white" href = "{% url 'wishlist' %}">Wishlist</a>
    </div>
</div>

<div class="container mt-3">
    <form action="{% url 'placeorder' %}" method="POST">
        {% csrf_token %}
        <div class="row">
            <div class="checkout-details col-md-6 mt-3 mr-4">
                <div class="checkout-form">
                    <div class="card-body">
                        <h6>Basic Details</h6>
                        <hr>
                        <div class="row">
                            <div class="col-md-6">
                            <label>First Name</label>
                            <input type="text" required value="{{ request.user.first_name }}" class="form-control" name="fname" placeholder="Enter First Name">
                            </div>
                            <div class="col-md-6">
                                <label>Last Name</label>
                                <input type="text" required value="{{ request.user.last_name }}" class="form-control" name="lname" placeholder="Enter Last Name">
                            </div>
                            <div class="col-md-6 mt-2">
                                <label>Email</label>
                                <input type="email"  required value="{{ request.user.email }}" class="form-control" name="email" placeholder="Enter Email Address">
                            </div>
                            <div class="col-md-6 mt-2">
                                <label>Phone Number</label>
                                <input type="text" required value="{{ user_profile.phonenumber }}" class="form-control" name="phonenumber" placeholder="Enter Phone Number">
                            </div>
                            <div class="col-md-10 mt-2">
                                <label>Address</label>
                                <textarea required class="form-control" name="address" placeholder="Enter Address">{{ user_profile.address }} </textarea>
                            </div>
                            <div class="col-md-6 mt-2">
                                <label>Province</label>
                                <input type="text" required value="{{ user_profile.province }}" class="form-control" name="province" placeholder="Enter Province">
                            </div>
                            <div class="col-md-6 mt-2">
                                <label>City</label>
                                <input type="text" required value="{{ user_profile.city }}" class="form-control" name="city" placeholder="Enter City">
                            </div>
                            <div class="col-md-6 mt-2">
                                <label>ZIP Code</label>
                                <input type="text" required value="{{ user_profile.zipcode }}" class="form-control" name="zipcode" placeholder="Enter ZIP code">
                            </div>
                        </div>                    
                    </div>
                </div>
            </div>
            <div class="checkout-details1 col-md-5 mt-3 ml-4">
                    <div class="card-body">
                        <h6>Order Summary </h6>
                        <hr>
                        {% if cart_items %}
                            <table class="table table-striped table-bordereds">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Quantity</th>
                                        <th>Price</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for item in cart_items %}
                                        <tr>
                                            <td>
                                                <img src="{{ item.product.product_image.url }}" height="50px" width="50px" class="me-2">
                                                {{ item.product.name }}
                                            </td>
                                            <td>{{ item.product_qty }}</td>
                                            <td>{{ item.product.selling_price | stringformat:'.2f' }} PHP</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            <h6 class"fw-bold">Total Amount
                                <span class="float-end">{{ total_price | stringformat:'.2f'}} PHP</span>
                            </h6>
                            <input type = "hidden" value="COD" name="payment_mode">
                            <div class="mt-3">
                                <button type="submit" class="btn btn-success w-100"> Cash on Delivery</button>
                            </div>
                        {% else %}
                            <h4>Your Cart is Empty, pleash shop first!</h4>
                        {% endif %}
                    </div>
                </div>
            </div>  
        </div>
    </form>
</div>


{% endblock content %}