{% extends 'base.html' %}

{% block content %}

{% load static %}

<style>
    .container {
        margin-top: 10px;
    }

    .card-shadow {
        box-shadow: 0 0 20px rgb(255, 182, 193, 0.5);
        border-radius: 10px;
        margin-bottom: 20px;
        transition: box-shadow 0.3s ease;
    }

    .card-shadow:hover {
        box-shadow: 0 0 50px rgba(255, 144, 255, 0.8);
    }

    .wishlist_data {
        padding: 20px;
    }

    .product_data {
        border-bottom: 1px solid #ffffff;
        padding: 15px 0;
    }

    .product_data img {
        max-width: 100%;
        height: auto;
        border-radius: 10px;
    }

    .product_data h6 {
        margin: 0;
        font-size: 18px;
        font-weight: bold;
        color: rgb(97, 97, 97);
    }

    .product_data h6 span {
        font-weight: normal;
    }

    .product_data .btn-primary,
    .product_data .btn-danger {
        font-weight: bold;
        padding: 10px 20px;
        color: white;
        transition: background-color 0.3s ease;
        border-radius: 12px;
    }

    .product_data .btn-primary {
        background-color: #e5b9ff;
        border: none;
    }

    .product_data .btn-danger {
        background-color: #FFB9B9;
        border: none;
    }

    .product_data .btn-primary:hover{
        background-color: #ca8cdd;
        text-decoration: none;
    }
    .product_data .btn-danger:hover {
        background-color: #e47575;
        text-decoration: none;
    }
</style>

<!-- Navbar Containter-->
<div class="py-3 bg-primary">
    <div class="containter">
        <a class="text-white" href = "{% url 'collections' %}">Home</a>
        <a class="text-white">/</a>
        <a class="text-white" href = "{% url 'wishlist' %}">Wishlist</a>
    </div>
</div>


<!--Content Container-->
<div class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card-shadow">
                    <div class="card-body wishlist_data">
                        {% if wishlist %}
                            {% for item in wishlist %}
                            <div class="row product_data">
                                <div class="col-md-2 my-auto">
                                    <img src="{{ item.product.product_image.url }}" height="70px" width='70px'alt="image here">
                                </div>
                                <div class="col-md-3 my-auto">
                                    <h6> {{ item.product.name }}</h6>
                                </div>
                                <div class="col-md-2 my-auto">
                                    <h6>{{ item.product.selling_price | stringformat:'d'}} PHP</h6>
                                </div>
                                <div class="col-md-3 my-auto">
                                    {% csrf_token %}
                                    <input type="hidden" class="prod_id" value="{{ item.product_id }}" >
                                    <a href="{% url 'view_products' item.product.Category.slug item.product.slug%}" class="btn btn-primary">
                                        <i class="fa-fa-eye">View Product</i>
                                    </a>
                                </div>
                                <div class="col-md-2 my-auto">
                                    <button class="btn btn-danger delete-wishlist-item"> <i class="fa fa-trash"></i>Remove</button>
                                </div>
                            </div>
                            {% endfor %}
                        {% else %}
                            <h4>Your Wishlist is Empty.</h4>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- I don't know why this particular piece of code does not work in the custom.js file but works here fine.-->
<script>
    $(document).ready(function () {
        $(document).on('click', '.delete-wishlist-item', function(e) {
            e.preventDefault();
            var product_id = $(this).closest('.product_data').find('.prod_id').val();
            var token = $('input[name="csrfmiddlewaretoken"]').val();
            
            $.ajax({
                method: "POST",
                url: 'http://127.0.0.1:8000/delete-wishlist-item/',  // Full URL
                data: {
                    'product_id' : product_id,
                    csrfmiddlewaretoken : token,
                },
                success: function (response){
                    console.log(response)
                    alertify.success(response.status)
                    $('.wishlist_data').load(location.href + " .wishlist_data");
                }
            });
        });
    });
    
</script>
{% endblock content %}