{% extends 'base.html' %}

{% block content %}

{% load static %}
    
    <div class="py-3 bg-primary">
        <div class="containter">
            <a class="text-white" href = "{% url 'collections' %}">Home</a>
            <a class="text-white">/</a>
            <a class="text-white" href = "{% url 'wishlist' %}">Wishlist</a>
        </div>
    </div>
    
    <div class="container mt-3">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-12">
                    <div class="card shadow">
                        <div class="card-header">
                            <h3>Order View
                                <a href="{% url 'myorders' %}" class="btn btn-warning float-end">Back</a>
                            </h3>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <h4>Shipping Details</h4>
                                    <hr>
                                    <label class="mt-2">First Name</label>
                                    <div class="border p-1"> {{ order.fname }} </div>
                                    <label class="mt-2">Last Name</label>
                                    <div class="border p-1"> {{ order.lname }} </div>
                                    <label class="mt-2">Email</label>
                                    <div class="border p-1"> {{ order.email }} </div>
                                    <label class="mt-2">Phone Number</label>
                                    <div class="border p-1"> {{ order.phonenumber }} </div>
                                    <label>Address</label>
                                    <div class="border p-1">
                                        {{ order.address }}
                                        {{ order.city }}
                                        {{ order.province }}
                                    </div>
                                    <label class="mt-2">Zip Code</label>
                                    <div class="border p-1">{{ order.zipcode }} </div>
                                </div>
                                <div class="col md-6">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th>Name</th>
                                                <th>Quantity</th>
                                                <th>Price</th>
                                                <th>Image</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for item in orderitems %}
                                                <tr>
                                                    <td>{{ item.product.name }}</td>
                                                    <td>{{ item.quantity }}</td>
                                                    <td>{{ item.price }}</td>
                                                    <td>
                                                        <img src="{{ item.product.product_image.url }}" height="100px" width="100px"  alt ="Product Image here">
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                    <h4>Total Price :<span class="float-end"> {{ order.total_price }} </span><h4>
                                    <h6 class="border p-1">Payment Mode : {{ order.payment_mode }}<h6>
                                    <h6 class="border p-1">Status : {{ order.status }}<h6>
                                    <h6 class="border p-1">Tracking Number: {{order.tracking_number}}<h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>   
            </div>
    </div>


{% endblock %}