{% extends 'base.html' %}

{% block content %}
<div class="container">
   <div class="row">
    <div class="col-md-12">
        <h1>{{category_name.name}}</h1>
        <div class="row">
        {% for item in products %}
            <div class="col-md-4">
                <div class="card">
                    <a href = "{% url 'view_products' item.Category.slug item.slug %}">
                        <div class="card-body">
                            <div class="category-image">
                                <img src = "{{ item.product_image.url }}" alt="product-image" class ="w-100"/>
                            </div>
                            <h4>{{item.name}}</h4>
                            <span>
                                {{item.selling_price}}
                            </span>
                    </div>
                </a>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
   </div>
</div>
{% endblock content %}